@use './reset';
@use './variables/variables';

*:focus-visible {
	outline: 2px solid var(--color-orange);
}

body {
	font-family:
		var(--primary-text-font),
		-apple-system,
		Arial,
		sans-serif;
	font-weight: var(--font-weight-regular);
}

body.modal-open {
	overflow: hidden;
}

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
