@use '@/app/styles/mixins/mixin.scss' as *;

.contactItem {
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	background: transparent;
	border-radius: 6px;
	border: none;
	outline: none;
	transition: all 0.2s ease;
	touch-action: manipulation;
	position: relative;
	height: 70px;

	&:link,
	&:visited {
		text-decoration: none;
		color: inherit;
		background: transparent;
		border: none;
		outline: none;
		box-shadow: none;
	}

	@media (hover: hover) {
		&:hover {
			// background-color: var(--color-violet-100);
			background-color: var(--color-violet-30);
		}
	}

	// Активный (выбран для чата)
	&.contactItemActive {
		background-color: var(--color-gray-100);

		&:focus-visible {
			outline: 2px solid var(--color-primary);
			outline-offset: -2px;
		}
	}

	// Выбранный для удаления (режим выбора)
	&.contactItemSelected {
		background-color: var(--color-violet-800);
		color: var(--color-white);

		@media (max-width: 768px) {
			background-color: var(--color-violet-40);
			color: var(--color-black);
		}
	}

	&:active {
		transform: scale(0.98);
	}

	&:focus-visible {
		outline: 2px solid var(--color-primary);
		outline-offset: -2px;
		box-shadow: none;
	}
}

.itemContent {
	display: flex;
	align-items: center;
	padding-right: 16px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.userCard {
	flex: 1;
	min-width: 0;
	display: flex;
	align-items: center;
}

//  ЧЕКБОКС справа
.checkbox {
	flex-shrink: 0;
	margin-left: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

// Пустой чекбокс
.checkboxEmpty {
	width: 24px;
	height: 24px;
	border: 2px solid var(--color-violet-500);
	border-radius: 50%;
	background: white;
	transition: all 0.2s ease;
}

// Выбранный чекбокс — реверс цветов
.checkboxChecked {
	width: 24px;
	height: 24px;
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
}

.checked {
	color: var(--color-primary);
}
