.mainLayout {
	display: flex;
	gap: 20px;
	padding-top: 4px;
	flex: 1;
	min-height: 0;

	@media (max-width: 1200px) {
		padding: 0 16px;
	}

	@media (max-width: 768px) {
		padding: 0;
	}
}

.content {
	flex: 1;
	overflow-y: auto;
	border-radius: 8px;
}
