.list {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	min-height: 0;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	contain: layout style;
	scroll-padding-top: 0;
	padding: 0 8px;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-gray-200);
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--color-gray-200);
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	// Для Firefox
	scrollbar-width: thin;
	scrollbar-color: var(--color-gray-200) transparent;
	scroll-behavior: smooth;
	transition: opacity 0.2s;
	-webkit-overflow-scrolling: touch;

	&:hover {
		opacity: 1;
	}
}
