.container {
	height: 100%;
	width: 100%;
	border: 1px solid #eee;
	border-radius: 16px;
	background: #f9fafb;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--color-gray-200) #0000;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	transition: opacity 0.2s;
	overscroll-behavior: contain;
	contain: layout style;
}

.header {
	padding: 16px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f5f6f8;
	border-bottom: 1px solid #e4e4e4;
}

.headerLeft {
	display: flex;
	align-items: center;
	gap: 12px;
}

.title {
	font-size: 18px;
	font-weight: 500;
}

.closeIcon {
	path {
		fill: #7769e1;
	}
}

.menuIcon {
	width: 24px;
	height: 24px;
}

.emptyState {
	height: 100%;
	display: grid;
	place-items: center;
}

.profile {
	position: relative;
	padding: 12px 14px;
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 360px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.name {
	font-size: 24px;
	font-weight: 500;
	color: white;
}

.status {
	font-size: 16px;
	color: white;
}

.notifications {
	margin-bottom: 8px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card {
	margin: 0 16px 8px;
	background: white;
	border-radius: 16px;
}

.copyIcon {
	margin-left: 2px;
	width: 24px;
	height: 24px;
	display: grid;
	place-items: center;

	path {
		fill: #7769e1;
	}
}

.checkIcon {
	margin-left: 2px;
	width: 24px;
	height: 24px;
	display: grid;
	place-items: center;

	path {
		stroke: #7769e1;
	}
}

.row {
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #b3b3b3;

	&:last-child {
		border-bottom: none;
	}
}

.rowText {
	display: grid;
	gap: 2px;
}

.label {
	font-size: 12px;
	color: #747474;
}

.valuePrimary {
	color: #7769e1;
}

.valueDefault {
	color: black;
}

.toggleButton rect {
	transition: 200ms ease;
}

.action {
	padding: 0.875rem 1rem;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	color: #7769e1;
}

// --- ChatProfileAttachs ---

.tabs {
	border-bottom: 1px solid rgba(0, 0, 0, 30%);
}

.tabsList {
	margin: 0 16px;
	display: flex;
	overflow-x: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--color-gray-200) #0000;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	transition: opacity 0.2s;
	overscroll-behavior: contain;
	contain: layout style;
}

.tab {
	margin: 12px 10px 0 12px;
	display: grid;
	gap: 8px;
	color: black;
	cursor: pointer;
}

.activeTab {
	color: #7769e1;
}

.tabIndicator {
	height: 4px;
	border-radius: 16px 16px 0 0;
	background: transparent;
}

.activeTab .tabIndicator {
	background: #7769e1;
}

.media {
	margin: 16px 4px 0;
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(3, 1fr);
}

.mediaItem {
	width: 100%;
	height: 117px;
	object-fit: cover;
	display: block;
}

// .files {
// }

// .voice {
// }

// .links {
// }
