.stickyHeader {
	position: sticky;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 50;
	display: flex;
	justify-content: center;
	pointer-events: none;

	.headerContent {
		pointer-events: auto;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-violet-800);
		border-radius: 8px;
		padding: 2px 8px;
	}
}
