.messageFormComponent {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 8px;
	width: 100%;
	padding: 12px 16px;
	background-color: var(--color-violet-40);
	border-top: 0.33px solid var(--color-gray-50);
}

.button {
	width: 36px;
	min-width: 36px;
	height: 36px;
	padding: 0;
	color: var(--color-primary);
}
