@use '@/app/styles/mixins/mixin.scss' as *;

.messageWrapper {
	display: flex;
	flex-direction: column;
}

.messageRow {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.messageAvatarSlot {
	width: 32px;
	height: 32px;
	flex-shrink: 0;
}

.messageAvatarSlot_hidden {
	visibility: hidden;
}

.message__avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.message {
	width: fit-content;
	max-width: 70%;
	display: flex;
	flex-direction: column; // теперь колонка
	padding: 10px 12px;
	border-radius: 16px;
	gap: 4px;

	&_sent {
		align-self: flex-end;
		background: #d8f5f0;
		border-bottom-right-radius: 4px;
	}

	&_received {
		background: #eee;
		border-bottom-left-radius: 4px;
	}

	&__sender {
		font-weight: 700;
	}

	&__content {
		display: flex;
		gap: 8px;
	}

	&__text {
		text-wrap: balance;
		overflow-wrap: anywhere;
	}

	&__meta {
		flex-shrink: 0;
		display: flex;
		gap: 2px;
		align-self: flex-end;
	}
}

.sentTimeIcon,
.sentUnreadIcon,
.sentReadIcon {
	width: 18px;
	height: 18px;

	&.sentTimeIcon,
	&.sentUnreadIcon {
		path {
			fill: #747474;
		}
	}

	&.sentReadIcon {
		path {
			fill: #7769e1;
		}
	}
}
